# Assignment 2
For this assignment you'll be looking at some of my physical activity data, which I've put in `datasets/strava.csv`. The first submission due date for this assignment is **November 12th at 11:59PM**.

In [10]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
import pandas as pd
df =

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Question 1 (25%)
This data is a bit of a mess. It includes running and cycling! Your first job is to identify the different run *sessions* from the dataset and list their *start* and *end* times. You know a given activity is a run if it has a value for `Power` (since I often use a stryd footpod) or if it came before Sept 15th (since that's when I bought a bike). And you can assume that a session is made up of contiguous values at at least a 20 minute resolution. That is, if I am running then stop recording data for 20 minutes or more then start running again that's two sessions. But if I only stop for 7 minutes, then start up again, that's just one session.

Create a `DataFrame` which is made up of three columns, the `start` and `end` times of each run as described above, with a `length` field and the with the session number, starting with `0` of course, as the index.

**Note**: You can find pandas frequency strings for the resampling here: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [12]:
# read in dataframe
# set index to timsestamp
# get index < 2019-09-15
# power.notnull()
# sort index

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('strava.csv')
data = data.set_index(pd.to_datetime(data["timestamp"]))
cleaning_data = data[(data.index < ['2019-09-15']) | (data['Power'].notna())].sort_index()
cleaning_data

ValueError: Lengths must match

In [4]:
sessions

NameError: name 'sessions' is not defined

In [36]:
#went to office hour
#working
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#read csv
df = pd.read_csv('strava.csv')
#get time stamp column
df = df.set_index(pd.to_datetime(df["timestamp"]))

#get date before sept 15 (this is when he bought a bike) | ignore any nan values in the power column
df = df[(df.index < '2019-09-15') | (df['Power'].notnull())]#.sort_index()


# he wants 0 index WHY???
session_number = -1 

#this is some old date to clean up some data
last_seen = pd.to_datetime('2019-07-08')
#last_seen = 
#creates index for us
for index, row in df.iterrows(): 
    if (index - last_seen) > pd.Timedelta('20T'): #creates a time index with 20 min
        session_number = session_number + 1
    last_seen = index
    df.at[index,'sessions'] = session_number #specifying location 
    #print(index)
df = df.dropna(subset = ['sessions'])
df['sessions'] = df['sessions'].astype(int)

sessions = (df.groupby('sessions')
            .apply(lambda x: pd.Series({'start': min(x.index),'end':max(x.index),'length':pd.Interval(min(x.index),max(x.index))})))
sessions

,start,end,length
sessions,,,
0,2019-07-08 21:04:03,2019-07-08 21:23:55,"(2019-07-08 21:04:03, 2019-07-08 21:23:55]"
1,2019-07-10 23:18:00,2019-07-10 23:37:20,"(2019-07-10 23:18:00, 2019-07-10 23:37:20]"
2,2019-07-12 21:27:11,2019-07-12 22:30:17,"(2019-07-12 21:27:11, 2019-07-12 22:30:17]"
3,2019-07-14 17:20:28,2019-07-14 18:38:22,"(2019-07-14 17:20:28, 2019-07-14 18:38:22]"
4,2019-07-14 20:45:07,2019-07-14 21:04:51,"(2019-07-14 20:45:07, 2019-07-14 21:04:51]"
5,2019-07-16 21:10:40,2019-07-16 21:29:10,"(2019-07-16 21:10:40, 2019-07-16 21:29:10]"
6,2019-07-17 23:17:06,2019-07-18 00:42:16,"(2019-07-17 23:17:06, 2019-07-18 00:42:16]"
7,2019-07-18 20:47:54,2019-07-18 21:37:03,"(2019-07-18 20:47:54, 2019-07-18 21:37:03]"
8,2019-07-20 14:56:40,2019-07-20 15:56:14,"(2019-07-20 14:56:40, 2019-07-20 15:56:14]"
9,2019-07-20 21:28:37,2019-07-20 21:50:14,"(2019-07-20 21:28:37, 2019-07-20 21:50:14]"
10,2019-07-21 21:58:25,2019-07-21 22:16:30,"(2019-07-21 21:58:25, 2019-07-21 22:16:30]"
11,2019-07-22 21:47:17,2019-07-22 22:05:46,"(2019-07-22 21:47:17, 2019-07-22 22:05:46]"
12,2019-07-23 00:49:07,2019-07-23 01:14:46,"(2019-07-23 00:49:07, 2019-07-23 01:14:46]"
13,2019-07-24 23:08:43,2019-07-25 00:13:11,"(2019-07-24 23:08:43, 2019-07-25 00:13:11]"
14,2019-07-26 20:10:04,2019-07-26 21:35:38,"(2019-07-26 20:10:04, 2019-07-26 21:35:38]"
15,2019-07-27 19:11:30,2019-07-27 19:40:02,"(2019-07-27 19:11:30, 2019-07-27 19:40:02]"
16,2019-07-28 18:48:46,2019-07-28 19:21:18,"(2019-07-28 18:48:46, 2019-07-28 19:21:18]"
17,2019-07-29 11:47:21,2019-07-29 12:23:19,"(2019-07-29 11:47:21, 2019-07-29 12:23:19]"
18,2019-07-30 19:31:47,2019-07-30 20:15:27,"(2019-07-30 19:31:47, 2019-07-30 20:15:27]"
19,2019-07-31 21:50:17,2019-07-31 23:22:24,"(2019-07-31 21:50:17, 2019-07-31 23:22:24]"
20,2019-08-01 21:12:10,2019-08-01 21:28:39,"(2019-08-01 21:12:10, 2019-08-01 21:28:39]"
21,2019-08-02 20:20:38,2019-08-02 20:28:06,"(2019-08-02 20:20:38, 2019-08-02 20:28:06]"
22,2019-08-03 21:49:36,2019-08-03 22:06:40,"(2019-08-03 21:49:36, 2019-08-03 22:06:40]"
23,2019-08-04 20:03:36,2019-08-04 20:53:13,"(2019-08-04 20:03:36, 2019-08-04 20:53:13]"
24,2019-08-04 21:14:39,2019-08-04 21:26:19,"(2019-08-04 21:14:39, 2019-08-04 21:26:19]"
25,2019-08-05 21:45:11,2019-08-05 22:03:00,"(2019-08-05 21:45:11, 2019-08-05 22:03:00]"
26,2019-08-06 21:49:40,2019-08-06 22:08:09,"(2019-08-06 21:49:40, 2019-08-06 22:08:09]"
27,2019-08-07 23:19:26,2019-08-08 00:35:42,"(2019-08-07 23:19:26, 2019-08-08 00:35:42]"
28,2019-08-09 21:28:40,2019-08-09 21:47:42,"(2019-08-09 21:28:40, 2019-08-09 21:47:42]"
29,2019-08-10 00:47:09,2019-08-10 01:21:07,"(2019-08-10 00:47:09, 2019-08-10 01:21:07]"
30,2019-08-11 19:46:44,2019-08-11 20:18:23,"(2019-08-11 19:46:44, 2019-08-11 20:18:23]"
31,2019-08-12 21:22:53,2019-08-12 21:34:41,"(2019-08-12 21:22:53, 2019-08-12 21:34:41]"
32,2019-08-14 23:19:16,2019-08-14 23:54:32,"(2019-08-14 23:19:16, 2019-08-14 23:54:32]"
33,2019-08-17 11:50:36,2019-08-17 12:21:04,"(2019-08-17 11:50:36, 2019-08-17 12:21:04]"
34,2019-08-18 20:41:37,2019-08-18 20:58:33,"(2019-08-18 20:41:37, 2019-08-18 20:58:33]"
35,2019-08-20 19:18:27,2019-08-20 19:53:16,"(2019-08-20 19:18:27, 2019-08-20 19:53:16]"
36,2019-08-20 20:32:57,2019-08-20 21:13:18,"(2019-08-20 20:32:57, 2019-08-20 21:13:18]"
37,2019-08-21 01:15:54,2019-08-21 01:49:07,"(2019-08-21 01:15:54, 2019-08-21 01:49:07]"
38,2019-08-21 03:24:16,2019-08-21 03:58:43,"(2019-08-21 03:24:16, 2019-08-21 03:58:43]"
39,2019-08-23 01:24:39,2019-08-23 02:07:00,"(2019-08-23 01:24:39, 2019-08-23 02:07:00]"
40,2019-08-24 19:36:17,2019-08-24 19:57:56,"(2019-08-24 19:36:17, 2019-08-24 19:57:56]"
41,2019-08-28 21:41:28,2019-08-28 21:54:53,"(2019-08-28 21:41:28, 2019-08-28 21:54:53]"
42,2019-08-31 18:45:43,2019-08-31 19:15:29,"(2019-08-31 18:45:43, 2019-08-31 19:15:29]"
43,2019-09-12 00:09:40,2019-09-12 00:45:32,"(2019-09-12 00:09:40, 2019-09-12 00:45:32]"
44,2019-09-14 20:08:40,2019-09-14 21:37:39,"(2019-09-14 20:08:40, 2019-09-14 21:37:39]"

In [15]:
cleaning_data.datetime

NameError: name 'cleaning_data' is not defined

In [ ]:
'''
Create a DataFrame which is made up of three columns, 
the start and end times of each run as described above, 
with a length field and the with the session number, 
starting with 0 of course, as the index.
'''

cleaning_columns = data[['timestamp','Power']].notna()
#cleaning_columns = data.loc[(data['Power'] !=0 )].head()

cleaning_columns

In [8]:

df = pd.read_csv('strava.csv')
df = df.set_index(pd.to_datetime(df["timestamp"]))
df = df[(df.index < '2019-09-15') | (df['Power'].notnull())].sort_index()
session_number = -1 # he wants 0 index WHY
last_seen = pd.to_datetime('2012-01-01')
for index, row in df.iterrows(): #creates index for us
    if (index - last_seen) > pd.Timedelta('20T'): #creates a time index with 20 min
        session_number = session_number + 1
    last_seen = index
    df.at[index,'sessions'] = session_number #specifying location 

df = df.dropna(subset = ['sessions'])
df['sessions'] = df['sessions'].astype(int)

sessions = (df.groupby('sessions')
            .apply(lambda x: pd.Series({'start': min(x.index),'end':max(x.index),'length':(max(x.index)-min(x.index))})))

think conceptually

In [17]:
sessions

,start,end,length
sessions,,,
1,2019-07-08 21:04:03,2019-07-08 21:23:55,"(2019-07-08 21:04:03, 2019-07-08 21:23:55]"
2,2019-07-10 23:18:00,2019-07-10 23:37:20,"(2019-07-10 23:18:00, 2019-07-10 23:37:20]"
3,2019-07-12 21:27:11,2019-07-12 22:30:17,"(2019-07-12 21:27:11, 2019-07-12 22:30:17]"
4,2019-07-14 17:20:28,2019-07-14 18:38:22,"(2019-07-14 17:20:28, 2019-07-14 18:38:22]"
5,2019-07-14 20:45:07,2019-07-14 21:04:51,"(2019-07-14 20:45:07, 2019-07-14 21:04:51]"
6,2019-07-16 21:10:40,2019-07-16 21:29:10,"(2019-07-16 21:10:40, 2019-07-16 21:29:10]"
7,2019-07-17 23:17:06,2019-07-18 00:42:16,"(2019-07-17 23:17:06, 2019-07-18 00:42:16]"
8,2019-07-18 20:47:54,2019-07-18 21:37:03,"(2019-07-18 20:47:54, 2019-07-18 21:37:03]"
9,2019-07-20 14:56:40,2019-07-20 15:56:14,"(2019-07-20 14:56:40, 2019-07-20 15:56:14]"
10,2019-07-20 21:28:37,2019-07-20 21:50:14,"(2019-07-20 21:28:37, 2019-07-20 21:50:14]"
11,2019-07-21 21:58:25,2019-07-21 22:16:30,"(2019-07-21 21:58:25, 2019-07-21 22:16:30]"
12,2019-07-22 21:47:17,2019-07-22 22:05:46,"(2019-07-22 21:47:17, 2019-07-22 22:05:46]"
13,2019-07-23 00:49:07,2019-07-23 01:14:46,"(2019-07-23 00:49:07, 2019-07-23 01:14:46]"
14,2019-07-24 23:08:43,2019-07-25 00:13:11,"(2019-07-24 23:08:43, 2019-07-25 00:13:11]"
15,2019-07-26 20:10:04,2019-07-26 21:35:38,"(2019-07-26 20:10:04, 2019-07-26 21:35:38]"
16,2019-07-27 19:11:30,2019-07-27 19:40:02,"(2019-07-27 19:11:30, 2019-07-27 19:40:02]"
17,2019-07-28 18:48:46,2019-07-28 19:21:18,"(2019-07-28 18:48:46, 2019-07-28 19:21:18]"
18,2019-07-29 11:47:21,2019-07-29 12:23:19,"(2019-07-29 11:47:21, 2019-07-29 12:23:19]"
19,2019-07-30 19:31:47,2019-07-30 20:15:27,"(2019-07-30 19:31:47, 2019-07-30 20:15:27]"
20,2019-07-31 21:50:17,2019-07-31 23:22:24,"(2019-07-31 21:50:17, 2019-07-31 23:22:24]"
21,2019-08-01 21:12:10,2019-08-01 21:28:39,"(2019-08-01 21:12:10, 2019-08-01 21:28:39]"
22,2019-08-02 20:20:38,2019-08-02 20:28:06,"(2019-08-02 20:20:38, 2019-08-02 20:28:06]"
23,2019-08-03 21:49:36,2019-08-03 22:06:40,"(2019-08-03 21:49:36, 2019-08-03 22:06:40]"
24,2019-08-04 20:03:36,2019-08-04 20:53:13,"(2019-08-04 20:03:36, 2019-08-04 20:53:13]"
25,2019-08-04 21:14:39,2019-08-04 21:26:19,"(2019-08-04 21:14:39, 2019-08-04 21:26:19]"
26,2019-08-05 21:45:11,2019-08-05 22:03:00,"(2019-08-05 21:45:11, 2019-08-05 22:03:00]"
27,2019-08-06 21:49:40,2019-08-06 22:08:09,"(2019-08-06 21:49:40, 2019-08-06 22:08:09]"
28,2019-08-07 23:19:26,2019-08-08 00:35:42,"(2019-08-07 23:19:26, 2019-08-08 00:35:42]"
29,2019-08-09 21:28:40,2019-08-09 21:47:42,"(2019-08-09 21:28:40, 2019-08-09 21:47:42]"
30,2019-08-10 00:47:09,2019-08-10 01:21:07,"(2019-08-10 00:47:09, 2019-08-10 01:21:07]"
31,2019-08-11 19:46:44,2019-08-11 20:18:23,"(2019-08-11 19:46:44, 2019-08-11 20:18:23]"
32,2019-08-12 21:22:53,2019-08-12 21:34:41,"(2019-08-12 21:22:53, 2019-08-12 21:34:41]"
33,2019-08-14 23:19:16,2019-08-14 23:54:32,"(2019-08-14 23:19:16, 2019-08-14 23:54:32]"
34,2019-08-17 11:50:36,2019-08-17 12:21:04,"(2019-08-17 11:50:36, 2019-08-17 12:21:04]"
35,2019-08-18 20:41:37,2019-08-18 20:58:33,"(2019-08-18 20:41:37, 2019-08-18 20:58:33]"
36,2019-08-20 19:18:27,2019-08-20 19:53:16,"(2019-08-20 19:18:27, 2019-08-20 19:53:16]"
37,2019-08-20 20:32:57,2019-08-20 21:13:18,"(2019-08-20 20:32:57, 2019-08-20 21:13:18]"
38,2019-08-21 01:15:54,2019-08-21 01:49:07,"(2019-08-21 01:15:54, 2019-08-21 01:49:07]"
39,2019-08-21 03:24:16,2019-08-21 03:58:43,"(2019-08-21 03:24:16, 2019-08-21 03:58:43]"
40,2019-08-23 01:24:39,2019-08-23 02:07:00,"(2019-08-23 01:24:39, 2019-08-23 02:07:00]"
41,2019-08-24 19:36:17,2019-08-24 19:57:56,"(2019-08-24 19:36:17, 2019-08-24 19:57:56]"
42,2019-08-28 21:41:28,2019-08-28 21:54:53,"(2019-08-28 21:41:28, 2019-08-28 21:54:53]"
43,2019-08-31 18:45:43,2019-08-31 19:15:29,"(2019-08-31 18:45:43, 2019-08-31 19:15:29]"
44,2019-09-12 00:09:40,2019-09-12 00:45:32,"(2019-09-12 00:09:40, 2019-09-12 00:45:32]"
45,2019-09-14 20:08:40,2019-09-14 21:37:39,"(2019-09-14 20:08:40, 2019-09-14 21:37:39]"

In [18]:
df

,Air Power,Cadence,Form Power,Ground Time,Leg Spring Stiffness,Power,Vertical Oscillation,altitude,cadence,datafile,...,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp,unknown_87,unknown_88,unknown_90,sessions
timestamp,,,,,,,,,,,,,,,,,,,,,
2019-07-08 21:04:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2675855419.fit.gz,...,0.0,68.0,NaN,NaN,0.0,2019-07-08 21:04:03,0.0,300.0,NaN,1
2019-07-08 21:04:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2675855419.fit.gz,...,0.0,68.0,NaN,NaN,0.0,2019-07-08 21:04:04,0.0,300.0,NaN,1
2019-07-08 21:04:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,activities/2675855419.fit.gz,...,0.0,71.0,NaN,NaN,1316.0,2019-07-08 21:04:07,0.0,300.0,NaN,1
2019-07-08 21:04:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3747.0,77.0,activities/2675855419.fit.gz,...,0.0,77.0,504432050.0,-999063637.0,1866.0,2019-07-08 21:04:14,0.0,100.0,NaN,1
2019-07-08 21:04:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3798.0,77.0,activities/2675855419.fit.gz,...,0.0,80.0,504432492.0,-999064534.0,1894.0,2019-07-08 21:04:15,0.0,100.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-14 21:36:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,activities/2871922778.fit.gz,...,0.0,113.0,504552676.0,-999308963.0,NaN,2019-09-14 21:36:56,0.0,300.0,NaN,45
2019-09-14 21:37:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2871922778.fit.gz,...,0.0,114.0,504552108.0,-999308706.0,NaN,2019-09-14 21:37:02,0.0,300.0,NaN,45
2019-09-14 21:37:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2871922778.fit.gz,...,0.0,117.0,504552108.0,-999308706.0,NaN,2019-09-14 21:37:11,0.0,300.0,NaN,45
2019-09-14 21:37:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2871922778.fit.gz,...,0.0,113.0,504552108.0,-999308706.0,NaN,2019-09-14 21:37:16,0.0,300.0,NaN,45
2019-09-14 21:37:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,activities/2871922778.fit.gz,...,0.0,112.0,504552108.0,-999308706.0,NaN,2019-09-14 21:37:39,0.0,300.0,NaN,45

In [ ]:
df = pd.read_csv('strava.csv')
#df = df.set_index(pd.to_datetime(df["timestamp"]))
df = df.set_index(pd.to_datetime(df['timestamp']))
#df.head()
session_number = -1
#previous_time = 0
previous_time = pd.to_datetime('2012')

for index,row_value in df.iterrows():
    difference = index - previous_time #ValueError: Cannot add integral value to Timestamp without freq. - previous time = 0 =/= time
    if difference > pd.Timedelta('20T'):
        session_number = session_number + 1
        previous_time = index
print(session_number)

## Question 2 (10%)
How many minutes long was my longest run?

In [19]:
sessions['length'].max().length.seconds/60

88.98333333333333

## Question 3 (25%)
It's common to estimate the calorie burn when your heart rate is between 90 and 150 beats per minute. The the equation below is suitable for men:

$$((-55.0969 + (0.6309*H) + (0.1988*W) + (0.2017*A)) \div 4.184) * 60 * T$$

Where HR is your heart rate in beats per minute, W is your weight in kilograms (let's be generous and assume I'm roughly 240lbs), A is the age in years (so let's go 41 here), and T is the exercise duration in hours.

What I would like is for you to calculate my rolling average 5 minute caloric burn for the session which began at time `2019-08-17 11:50:36`, and report to me the time I had just finished 1 minute of my top caloric burn.

In [20]:
#caloric_burn_df = [(df.index >= '2019-08-17 11:50:36')]

def get_caloric_burn (heart_rate):
    caloric_burn = (-55.0969+(0.6309*np.mean(heart_rate)+(0.1988*240/2.2)+(0.2017*41))/4.184)*5
    return caloric_burn

session = df.loc[pd.to_datetime('2019-08-17 11:50:36')]['sessions']
df[df['sessions']== 33] 
df.resample('1T').fillna(method = 'ffill')
#loc is on index

df['caloric_burn'] = df['heart_rate'].rolling(60).apply(get_caloric_burn, raw=False)
df[df['caloric_burn'] == df['caloric_burn'].max()]#.index

,Air Power,Cadence,Form Power,Ground Time,Leg Spring Stiffness,Power,Vertical Oscillation,altitude,cadence,datafile,...,heart_rate,position_lat,position_long,speed,timestamp,unknown_87,unknown_88,unknown_90,sessions,caloric_burn
timestamp,,,,,,,,,,,,,,,,,,,,,
2019-08-17 12:21:04,0.0,51.0,122.0,616.0,0.0,217.0,0.0,NaN,52.0,activities/2786247269.fit.gz,...,180.0,504668892.0,-1.005696e+09,NaN,2019-08-17 12:21:04,0.0,300.0,-1.0,34,-106.174214

## Question 4 (40%)
Today, November 1st 2019, I went out for a bike ride and wiped out. Not a little loss of control or a little skid, we're talking flying off the bike in traffic kind of wipe out. I finished my ride as I had planned, and when I was telling my wife about the incident she asked me where but I couldn't really remember. I did remember a few things though - can you help me track down where I wiped out from my ride log data, which I put in `datasets/wipout.csv`?

Specifically I remember that:
1. I launched off the bike. So at some point both my reported speed `enhanced_speed` and my reported  `cadence` from my wearables would have been 0.
2. I was at least 5 minutes into my ride at the time, headed out of the city, and that it wasn't in the last ten minutes of my ride.
3. I know my `heart_rate` didn't drop right away. Heart rate responds relatively slowely so while my speed and cadence dropped nearly right away to zero (since my bike was lying in the road) my heart rate was still high. More specifically, I would say that compared to the 2 minutes before and 2 minutes after the event, my `heart_rate` was more than one standard deviation higher while I was lying on the grass.
4. I don't know if this helps, but I do remember stopping during my ride *before* I wiped out to give an in promptu lecture to a motorist on whether cars belonged in the bike lane. So some of the above criteria might also relate to that event. But I know I actually wiped out after talking to that driver.

Where and when did I wipe out? In units of `timestamp` and `position_lat_degrees` and `position_long_degrees` please, so I can look this up on Google Maps.

**Hint**: it might be useful to consider the heart rate carefully. Remember z-scored from STATS 250? No worries if you don't, a z-score can be created with the `scipy.stats.zscore` function. You just pass in a list of values and it returns to you a list of z-scores. This mapping is the number of standard deviations from the mean each data point is. So if a given data point has a z-score of 1.2, it is 1.2 standard deviations greater than the mean of whatever data you passed in. And z-scores can be negative too, so a z-score of -3.2 for a given data point means that data point is much smaller -- more than three standard deviations smaller -- than the mean of the rest of the data you calculated z-scores for.

In [20]:
wipout = pd.read_csv('wipeout.csv')
#remove 5 minutes
wipout['timestamp'] = pd.to_datetime(wipout['timestamp'])
wipout.index = wipout["timestamp"]
# wipout = wipout[["heart_rate","cadence" ,"enhanced_speed" ]]
def zscore(x):
    r = x.rolling("2t")
    m = r.mean()
    s = r.std(ddof=0)
    z = (x-m)/s
    return z
wipout["zscore_down"] = zscore(wipout["heart_rate"] )
wipout = wipout.resample("1s").interpolate(method="time")
wipout["zscore_up"]= wipout.loc[(wipout.index +pd.Timedelta(seconds=120))]["zscore_down"].reindex()
wipout['zscore_up']
#remove the first 5 minutes and last 10 minutes
start = wipout.index[0]  +pd.Timedelta(seconds=300)
end = wipout.index[-1] - pd.Timedelta(seconds=600)
#remove the first 5 minutes and last 10 minutes
wipout = wipout[(wipout["timestamp"] < end) & (wipout["timestamp"] >start) ] #question 2
#enhanced_speed and my reported cadence from my wearables would have been 0.
time_filtered = wipout[(wipout["enhanced_speed"] == 0.0)  & (wipout["cadence"] == 0.0)] #
final_val = time_filtered[(time_filtered["zscore_down"] > 1) & (time_filtered["zscore_up"]> 1)]

/Users/eldon/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

In [22]:
wipout['zscore_down']

timestamp
2019-11-01 20:17:08    1.475223
2019-11-01 20:17:14    1.740544
2019-11-01 20:17:19    1.926784
2019-11-01 20:17:20    1.907128
2019-11-01 20:17:24    2.057574
                         ...
2019-11-01 21:14:53    2.295276
2019-11-01 21:14:55    2.935399
2019-11-01 21:14:59    3.335908
2019-11-01 21:15:01    3.178117
2019-11-01 21:15:04    3.209506
Name: zscore_down, Length: 767, dtype: float64

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
from scipy import stats
data=pd.read_csv('wipeout.csv')
data.head()

In [3]:
data=pd.read_csv('wipeout.csv')
data.head()

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees
0,2019-11-01 20:12:03,NaN,0.00,281.6,0.000,NaN,84.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:03,42.280368,-83.740727
1,2019-11-01 20:12:04,NaN,0.00,281.6,0.000,NaN,84.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:04,42.280368,-83.740727
2,2019-11-01 20:12:07,NaN,0.00,281.6,0.000,NaN,87.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:07,42.280368,-83.740727
3,2019-11-01 20:12:08,NaN,0.32,281.6,1.036,NaN,88.0,504424447.0,-999065835.0,NaN,2019-11-01 20:12:08,42.280369,-83.740731
4,2019-11-01 20:12:10,NaN,3.30,281.8,2.976,NaN,89.0,504424476.0,-999066382.0,NaN,2019-11-01 20:12:10,42.280371,-83.740777

In [4]:
data['timestamp'] = pd.to_datetime(data['timestamp'])
data = data.set_index(pd.to_datetime(data["timestamp"]))

In [43]:
data

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees
timestamp,,,,,,,,,,,,,
2019-11-01 20:12:03,2019-11-01 20:12:03,NaN,0.00,281.6,0.000,NaN,84.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:03,42.280368,-83.740727
2019-11-01 20:12:04,2019-11-01 20:12:04,NaN,0.00,281.6,0.000,NaN,84.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:04,42.280368,-83.740727
2019-11-01 20:12:07,2019-11-01 20:12:07,NaN,0.00,281.6,0.000,NaN,87.0,504424439.0,-999065791.0,NaN,2019-11-01 20:12:07,42.280368,-83.740727
2019-11-01 20:12:08,2019-11-01 20:12:08,NaN,0.32,281.6,1.036,NaN,88.0,504424447.0,-999065835.0,NaN,2019-11-01 20:12:08,42.280369,-83.740731
2019-11-01 20:12:10,2019-11-01 20:12:10,NaN,3.30,281.8,2.976,NaN,89.0,504424476.0,-999066382.0,NaN,2019-11-01 20:12:10,42.280371,-83.740777
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-01 21:24:54,2019-11-01 21:24:54,54.0,29493.71,273.0,3.667,0.0,108.0,504554196.0,-999307496.0,NaN,2019-11-01 21:24:54,42.291244,-83.760987
2019-11-01 21:24:56,2019-11-01 21:24:56,50.0,29500.79,273.0,3.620,0.0,107.0,504553622.0,-999307913.0,NaN,2019-11-01 21:24:56,42.291196,-83.761022
2019-11-01 21:25:00,2019-11-01 21:25:00,50.0,29508.55,273.2,0.000,0.0,107.0,504552835.0,-999307395.0,NaN,2019-11-01 21:25:00,42.291130,-83.760978
2019-11-01 21:25:03,2019-11-01 21:25:03,11.0,29508.55,274.0,0.000,0.0,109.0,504552835.0,-999307395.0,NaN,2019-11-01 21:25:03,42.291130,-83.760978
2019-11-01 21:25:05,2019-11-01 21:25:05,11.0,29508.55,275.0,0.000,0.0,111.0,504552835.0,-999307395.0,NaN,2019-11-01 21:25:05,42.291130,-83.760978

In [44]:
data.columns

Index(['timestamp', 'cadence', 'distance', 'enhanced_altitude',
       'enhanced_speed', 'fractional_cadence', 'heart_rate', 'position_lat',
       'position_long', 'speed', 'timestamp.1', 'position_lat_degrees',
       'position_long_degrees'],
      dtype='object')

In [5]:
#part 1
data[(data['enhanced_speed'] == 0) & (data['cadence'] == 0)]

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees
timestamp,,,,,,,,,,,,,
2019-11-01 20:12:20,2019-11-01 20:12:20,0.0,17.76,280.4,0.0,0.0,91.0,504424781.0,-999068427.0,NaN,2019-11-01 20:12:20,42.280397,-83.740948
2019-11-01 20:12:22,2019-11-01 20:12:22,0.0,17.76,281.0,0.0,0.0,91.0,504424850.0,-999068448.0,NaN,2019-11-01 20:12:22,42.280403,-83.740950
2019-11-01 20:14:04,2019-11-01 20:14:04,0.0,511.42,252.4,0.0,0.0,109.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:04,42.283046,-83.743693
2019-11-01 20:14:09,2019-11-01 20:14:09,0.0,511.42,251.4,0.0,0.0,104.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:09,42.283046,-83.743693
2019-11-01 20:14:10,2019-11-01 20:14:10,0.0,511.42,251.4,0.0,0.0,103.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:10,42.283046,-83.743693
2019-11-01 20:14:11,2019-11-01 20:14:11,0.0,511.42,251.4,0.0,0.0,100.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:11,42.283046,-83.743693
2019-11-01 20:14:23,2019-11-01 20:14:23,0.0,511.42,251.2,0.0,0.0,95.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:23,42.283046,-83.743693
2019-11-01 20:14:25,2019-11-01 20:14:25,0.0,511.42,251.2,0.0,0.0,91.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:25,42.283046,-83.743693
2019-11-01 20:14:28,2019-11-01 20:14:28,0.0,511.42,251.2,0.0,0.0,88.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:28,42.283046,-83.743693
2019-11-01 20:14:30,2019-11-01 20:14:30,0.0,511.42,251.2,0.0,0.0,85.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:30,42.283046,-83.743693
2019-11-01 20:14:33,2019-11-01 20:14:33,0.0,511.42,251.2,0.0,0.0,82.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:33,42.283046,-83.743693
2019-11-01 20:14:41,2019-11-01 20:14:41,0.0,511.42,251.2,0.0,0.0,79.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:41,42.283046,-83.743693
2019-11-01 20:14:42,2019-11-01 20:14:42,0.0,511.42,251.2,0.0,0.0,78.0,504456391.0,-999101172.0,NaN,2019-11-01 20:14:42,42.283046,-83.743693
2019-11-01 20:16:04,2019-11-01 20:16:04,0.0,1099.84,249.0,0.0,0.0,116.0,504460968.0,-999186532.0,NaN,2019-11-01 20:16:04,42.283430,-83.750848
2019-11-01 20:16:21,2019-11-01 20:16:21,0.0,1103.05,248.6,0.0,0.0,103.0,504460982.0,-999186568.0,NaN,2019-11-01 20:16:21,42.283431,-83.750851
2019-11-01 20:16:31,2019-11-01 20:16:31,0.0,1103.05,248.6,0.0,0.0,100.0,504460982.0,-999186568.0,NaN,2019-11-01 20:16:31,42.283431,-83.750851
2019-11-01 20:16:33,2019-11-01 20:16:33,0.0,1103.05,248.6,0.0,0.0,96.0,504460982.0,-999186568.0,NaN,2019-11-01 20:16:33,42.283431,-83.750851
2019-11-01 20:16:34,2019-11-01 20:16:34,0.0,1103.05,248.6,0.0,0.0,93.0,504460982.0,-999186568.0,NaN,2019-11-01 20:16:34,42.283431,-83.750851
2019-11-01 20:16:36,2019-11-01 20:16:36,0.0,1103.05,248.6,0.0,0.0,89.0,504460982.0,-999186568.0,NaN,2019-11-01 20:16:36,42.283431,-83.750851
2019-11-01 20:18:31,2019-11-01 20:18:31,0.0,1811.68,252.2,0.0,0.0,137.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:31,42.286122,-83.758391
2019-11-01 20:18:34,2019-11-01 20:18:34,0.0,1811.68,252.0,0.0,0.0,134.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:34,42.286122,-83.758391
2019-11-01 20:18:39,2019-11-01 20:18:39,0.0,1811.68,251.8,0.0,0.0,131.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:39,42.286122,-83.758391
2019-11-01 20:18:42,2019-11-01 20:18:42,0.0,1811.68,251.8,0.0,0.0,128.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:42,42.286122,-83.758391
2019-11-01 20:18:44,2019-11-01 20:18:44,0.0,1811.68,251.8,0.0,0.0,125.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:44,42.286122,-83.758391
2019-11-01 20:18:47,2019-11-01 20:18:47,0.0,1811.68,251.8,0.0,0.0,122.0,504493081.0,-999276526.0,NaN,2019-11-01 20:18:47,42.286122,-83.758391
2019-11-01 20:18:52,2019-11-01 20:18:52,0.0,1811.68,251.8,0.0,0.0,118.0,504493097.0,-999276555.0,NaN,2019-11-01 20:18:52,42.286123,-83.758393
2019-11-01 20:24:40,2019-11-01 20:24:40,0.0,3797.54,280.4,0.0,0.0,127.0,504592053.0,-999531545.0,NaN,2019-11-01 20:24:40,42.294417,-83.779766
2019-11-01 20:26:26,2019-11-01 20:26:26,0.0,4485.11,290.0,0.0,0.0,144.0,504661370.0,-999544061.0,NaN,2019-11-01 20:26:26,42.300227,-83.780815

In [27]:
data[['min_z_score']] = stats.zscore(data['heart_rate'])
#stats.zscore(a)
data[['min_z_score']]

                     min_z_score
timestamp
2019-11-01 20:12:03    -3.377050
2019-11-01 20:12:04    -3.377050
2019-11-01 20:12:07    -3.146598
2019-11-01 20:12:08    -3.069781
2019-11-01 20:12:10    -2.992964
...                          ...
2019-11-01 21:24:54    -1.533439
2019-11-01 21:24:56    -1.610256
2019-11-01 21:25:00    -1.610256
2019-11-01 21:25:03    -1.456622
2019-11-01 21:25:05    -1.302988

[1032 rows x 1 columns]

In [28]:
data = data.resample("1s").interpolate(method="time")
data['max_z_score'] = data.loc[(data.index +pd.Timedelta(seconds=120))]["min_z_score"].reindex()

/Users/eldon/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

In [29]:
data[['min_z_score']] # choose the middle VALUEEEEEEEEE

                     min_z_score
timestamp
2019-11-01 20:12:03    -3.377050
2019-11-01 20:12:04    -3.377050
2019-11-01 20:12:05    -3.300233
2019-11-01 20:12:06    -3.223416
2019-11-01 20:12:07    -3.146598
...                          ...
2019-11-01 21:25:01    -1.559045
2019-11-01 21:25:02    -1.507833
2019-11-01 21:25:03    -1.456622
2019-11-01 21:25:04    -1.379805
2019-11-01 21:25:05    -1.302988

[4383 rows x 1 columns]

In [30]:
final_value = data[(data["min_z_score"] > 1) & (data["max_z_score"]> 1)]

In [31]:
final_value

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees,min_z_score,max_z_score
timestamp,,,,,,,,,,,,,,,
2019-11-01 20:17:32,2019-11-01 20:17:32,71.000000,1490.980000,256.200000,5.729000,0.0,141.000000,5.044774e+08,-9.992349e+08,NaN,2019-11-01 20:17:32,42.284805,-83.754903,1.001525,1.001525
2019-11-01 20:17:33,NaT,72.000000,1496.720000,256.700000,5.752500,0.0,141.500000,5.044777e+08,-9.992356e+08,NaN,NaN,42.284830,-83.754964,1.039934,1.039934
2019-11-01 20:17:34,2019-11-01 20:17:34,73.000000,1502.460000,257.200000,5.776000,0.0,142.000000,5.044780e+08,-9.992364e+08,NaN,2019-11-01 20:17:34,42.284856,-83.755024,1.078342,1.078342
2019-11-01 20:17:35,2019-11-01 20:17:35,73.000000,1508.430000,257.400000,5.962000,0.0,142.000000,5.044783e+08,-9.992371e+08,NaN,2019-11-01 20:17:35,42.284881,-83.755089,1.078342,1.078342
2019-11-01 20:17:36,NaT,73.444444,1514.422222,257.200000,5.969333,0.0,142.000000,5.044785e+08,-9.992379e+08,NaN,NaN,42.284903,-83.755154,1.078342,1.078342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-01 21:17:00,NaT,67.600000,27081.704000,262.680000,2.734200,0.0,142.600000,5.047556e+08,-9.993323e+08,NaN,NaN,42.308124,-83.763063,1.124433,1.124433
2019-11-01 21:17:01,2019-11-01 21:17:01,68.000000,27084.420000,262.800000,2.753000,0.0,142.000000,5.047555e+08,-9.993328e+08,NaN,2019-11-01 21:17:01,42.308118,-83.763105,1.078342,1.078342
2019-11-01 21:17:02,NaT,66.000000,27087.046667,262.866667,2.687667,0.0,141.666667,5.047555e+08,-9.993331e+08,NaN,NaN,42.308118,-83.763131,1.052737,1.052737
2019-11-01 21:17:03,NaT,64.000000,27089.673333,262.933333,2.622333,0.0,141.333333,5.047555e+08,-9.993334e+08,NaN,NaN,42.308118,-83.763156,1.027131,1.027131
2019-11-01 21:17:04,2019-11-01 21:17:04,62.000000,27092.300000,263.000000,2.557000,0.0,141.000000,5.047555e+08,-9.993337e+08,NaN,2019-11-01 21:17:04,42.308118,-83.763182,1.001525,1.001525

In [32]:
#remove the first 5 minutes and last 10 minutes
start = data.index[0]  +pd.Timedelta(seconds=300)
end = data.index[-1] - pd.Timedelta(seconds=600)
#remove the first 5 minutes and last 10 minutes
data = data[(data["timestamp"] < end) & (data["timestamp"] >start) ]

In [34]:
final_value

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees,min_z_score,max_z_score
timestamp,,,,,,,,,,,,,,,
2019-11-01 20:17:32,2019-11-01 20:17:32,71.000000,1490.980000,256.200000,5.729000,0.0,141.000000,5.044774e+08,-9.992349e+08,NaN,2019-11-01 20:17:32,42.284805,-83.754903,1.001525,1.001525
2019-11-01 20:17:33,NaT,72.000000,1496.720000,256.700000,5.752500,0.0,141.500000,5.044777e+08,-9.992356e+08,NaN,NaN,42.284830,-83.754964,1.039934,1.039934
2019-11-01 20:17:34,2019-11-01 20:17:34,73.000000,1502.460000,257.200000,5.776000,0.0,142.000000,5.044780e+08,-9.992364e+08,NaN,2019-11-01 20:17:34,42.284856,-83.755024,1.078342,1.078342
2019-11-01 20:17:35,2019-11-01 20:17:35,73.000000,1508.430000,257.400000,5.962000,0.0,142.000000,5.044783e+08,-9.992371e+08,NaN,2019-11-01 20:17:35,42.284881,-83.755089,1.078342,1.078342
2019-11-01 20:17:36,NaT,73.444444,1514.422222,257.200000,5.969333,0.0,142.000000,5.044785e+08,-9.992379e+08,NaN,NaN,42.284903,-83.755154,1.078342,1.078342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-01 21:17:00,NaT,67.600000,27081.704000,262.680000,2.734200,0.0,142.600000,5.047556e+08,-9.993323e+08,NaN,NaN,42.308124,-83.763063,1.124433,1.124433
2019-11-01 21:17:01,2019-11-01 21:17:01,68.000000,27084.420000,262.800000,2.753000,0.0,142.000000,5.047555e+08,-9.993328e+08,NaN,2019-11-01 21:17:01,42.308118,-83.763105,1.078342,1.078342
2019-11-01 21:17:02,NaT,66.000000,27087.046667,262.866667,2.687667,0.0,141.666667,5.047555e+08,-9.993331e+08,NaN,NaN,42.308118,-83.763131,1.052737,1.052737
2019-11-01 21:17:03,NaT,64.000000,27089.673333,262.933333,2.622333,0.0,141.333333,5.047555e+08,-9.993334e+08,NaN,NaN,42.308118,-83.763156,1.027131,1.027131
2019-11-01 21:17:04,2019-11-01 21:17:04,62.000000,27092.300000,263.000000,2.557000,0.0,141.000000,5.047555e+08,-9.993337e+08,NaN,2019-11-01 21:17:04,42.308118,-83.763182,1.001525,1.001525

In [35]:
final_val

,timestamp,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,speed,timestamp.1,position_lat_degrees,position_long_degrees,zscore_down,zscore_up
timestamp,,,,,,,,,,,,,,,
2019-11-01 20:26:26,2019-11-01 20:26:26,0.0,4485.11,290.0,0.0,0.0,144.0,504661370.0,-999544061.0,NaN,2019-11-01 20:26:26,42.300227,-83.780815,1.633622,1.633622

In [ ]:
#GET THE MIDDLE = LEN/2