In [1]:
import pandas as pd

df = pd.read_csv('f1db_csv/constructor_standings.csv')

In [2]:
df

           1    18  1.1     14  1.2 1.3  1.4
0          2    18    2    8.0    3   3    0
1          3    18    3    9.0    2   2    0
2          4    18    4    5.0    4   4    0
3          5    18    5    2.0    5   5    0
4          6    18    6    1.0    6   6    0
...      ...   ...  ...    ...  ...  ..  ...
12260  27388  1025   51   35.0    8   8    0
12261  27389  1025  211   52.0    7   7    0
12262  27390  1025    5   55.0    6   6    0
12263  27391  1025    1  101.0    4   4    0
12264  27392  1025    3    1.0   10  10    0

[12265 rows x 7 columns]

In [1]:
python --version

NameError: name 'python' is not defined

In [2]:
from platform import python_version
print(python_version())

3.6.6